<mat-card class="form-card">
  <mat-card-title class="heading">Uplaod Files</mat-card-title>
  <mat-card-content>
    Please upload the following documents
    <ul style="text-align: left;">
      <li>Proof of Identity(Adhar, PAN, Voter ID or Passport)</li>
      <li>Proof of Property</li>
      <li>Proof of Recidence</li>
      <li>Last 3 months bank statements</li>
    </ul>

    <input
      type="file"
      #file
      name="fileUplaod"
      id="fileUpload"
      style="display: none"
      multiple
      ng2FileSelect
      [uploader]="uploader"
      accept=".pdf"
    />
    <div
      class="container"
      fxLayout="column"
      fxLayoutAlign="space-evenly stretch"
    >
      <div>
        <button
          [disabled]="uploading || uploadSuccessful"
          mat-raised-button
          color="primary"
          class="add-files-btn"
          (click)="addFiles()"
        >
          Add Files
        </button>
      </div>

      <!-- This is the content of the dialog, containing a list of the files to upload -->
      <mat-dialog-content fxFlex>
        <mat-list>
          <mat-list-item *ngFor="let item of uploader.queue">
            <h4 mat-line>{{ item.file.name }}</h4>
            <mat-progress-bar
              mode="determinate"
              [value]="item.progress"
            ></mat-progress-bar>
            <mat-dialog-actions class="actions">
              <button
                type="button"
                color="danger"
                mat-raised-button
                (click)="item.remove()"
                *ngIf="item.progress != 100"
              >
                Cancel
              </button>
            </mat-dialog-actions>
          </mat-list-item>
        </mat-list>
        <div *ngIf="uploader?.queue?.length > 0">
          <button
            mat-raised-button
            color="primary"
            type="button"
            class="btn btn-primary"
            (click)="uploader.uploadAll(); submitFiles()"
            [disabled]="uploader?.queue?.length != 4"
          >
            Submit
          </button>
        </div>
      </mat-dialog-content>

      <!-- This are the actions of the dialog, containing the primary and the cancel button-->
    </div>
  </mat-card-content>
</mat-card>
